*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
     min-height: 100vh;
     width: 100%;
     background: #cfccca;
    
}
footer{
    position: fixed;
    background: #031b3a;
    width: 100%;
    bottom: 0;
    left: 0;
}
footer::before{
    content: '';
    position: absolute;
    left: 0;
    top: 100px;
    height: 1px;
    width: 100%;
    background: #9e9ea3;
}
footer .content{
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 40px 40px;
}
footer .content .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom : 50px;
}
.content .top .logo{
    color: #ffffff;
    font-size: 40px;
    font-weight: 400;
}
.content .top .icons{
    display: flex;
}
.content .top .icons a{
    height: 40px;
    width: 40px;
    background: red;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
}
.content .top .icons a:nth-child(1){
    background: #235070;
}
.content .top .icons a:nth-child(1):hover{
    color: #235070;
    background: #fff;
}
.content .top .icons a:nth-child(2){
    background: #000000;
}
.content .top .icons a:nth-child(2):hover{
    color: #000000;
    background: #fff;
}

.content .top .icons a:nth-child(3){
    background: #005085;
}
.content .top .icons a:nth-child(3):hover{
    color: #005085;
    background: #fff;
}

.content .top .icons a:nth-child(4){
    background: #b41148;
}
.content .top .icons a:nth-child(4):hover{
    color: #d1094c;
    background: #fff;
}

.content .top .icons a:nth-child(5){
    background: #cc1c1c;
}
.content .top .icons a:nth-child(5):hover{
    color: #cc1c1c;
    background: #fff;
}
footer .content .link-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
footer .content .link-box .box{
   
    width: calc(100% / 5 - 10px);
}
footer .content .link-box .box .link-name{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
}
.link-box .box .link-name::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 35px;
    background: #fff;
    left: 0;
    bottom: -2px;
}
.content .link-box .box li{
    margin: 8px 0;
    list-style: none;
}
.content .link-box .box li a{
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    opacity: 0.8;
}
.content .link-box .box li a:hover{
    opacity: 1;
    text-decoration: underline;
}
.link-box .input-box{
    margin-right: 55px;
}
.link-box .input-box input{
    height: 40px;
    width: calc(100% + 55px);
    outline: none;
    border: 2px solid #afafb6;
    background: transparent;
    color: #fff;
    border-radius: 5px;
    padding: 0 15px;
    font-size: 15px;
}
.link-box .input-box input::placeholder{
    color: #afafb6;
    font-size: 16px;
}
.link-box .input-box input[type="button"]{
    background: #fff;
    color: #000000;
    border: none;
    font-size: 16px;
    font-weight: 500;
    margin: 4px 0;
    opacity: 0.8;
    transition: all 0.4s ease;
}
.input-box input[type="button"]:hover{
    opacity: 1;
    cursor: pointer;
}



